
   body{   
       background-image: url("../images/back1.png");
       height: 100%;
       margin: 0;
    }

   #block{
     min-height: 100%;
     margin-bottom: -50px;
   }
   
   #block1{
       background: #ffffff;
       height: 80px;
       width: 100%;
       border-bottom: #cccccc;
       border-bottom-style: solid;
       margin-right:  0px;
       position: fixed;
       font-family: Georgia, 'Times New Roman', Times, serif;
   }

   
   
   #block1center{ 
       width: 1000px;
       height: 100%;
       margin: auto;
   }

   #name{
       background: #4aaaa5;
       color: #ffffff;
       height:80px;
       width: 220px;
       margin-left: 0px;
       font-size: x-large;
       float: left;
       display: flex; 
   }

   #h1{
       align-self: center;
       padding-top: 0px;
       margin: auto;
   }

   a:link{
       text-decoration: none;
   }

   a:hover{
       font-size: 150%;
   }

   #button1, #button2, #button3{
       float: right;
       color: #cccccc;
       margin-top: 30px;
   }
   .buttons{
       margin-right: 30px;
   }
   #button1{
       margin-right: 0px;
       border-left-style: hidden;
       border-left-color: #cccccc;
       margin-left: 0px;
       padding-left: 25px;
  
   }

   #button2{
       border-left-color: #cccccc;
       border-right-color: #cccccc;
       border-left-style: solid;
       border-right-style: solid;
       padding-left: 25px;
       padding-right: 25px;
   }
   
   #button3{
    margin-right: 0px;
    border-right-style: hidden;
    border-right-color: #cccccc;
    padding-right: 25px;

}
   .clearfix{
       clear: both;
   }
   #block2{
       padding-top: 40px;
       font-family: Arial, Helvetica, sans-serif;
   }
   
   #contentHeader{
       background: #ffffff;
       border-bottom: #cccccc;
       border-bottom-style: solid;
       border-bottom-width: 2px;
       margin: auto;
       padding-top: 20px;
   }

   #contentMain{
       background: #ffffff;
       padding: 20px;
       width: 960px;
       text-align: inherit;
       overflow: auto;
       margin: auto;
   }
   
   #pic1 {
       height: 200px;
       float: left;
       margin-inline-end: 20px;
       padding-top: 20px;
   }

   #brif{
       margin-left: 100px;
       text-align: inherit;
       font-size: larger;
       line-height: 25px;
        }
    
   h3{
       clear: both;
       padding-top: 30px;
       font-size: x-large;

   }

   #skills{
       font-size: large;
       line-height: 25px;
       padding-inline-start: 50px;
       padding-inline-end: 50px;
   }

   #footer{
       clear: both;
       background: grey;
       border-top:8px solid #4aaaa5;
       text-align: center;
       margin-bottom: 0px;
       position: sticky;
   }
   
   #footer,#push{
       height:50px;
   }


   #portfolio{
       font-family: 'Times New Roman', Times, serif;
       color:#4aaaa5;
       font-size: xx-large;
   }

   .boxes{
       width: 100%;
       height: 600px;
    
   }

   #box1,#box2{
       float: left;
       height: 30%;
       width: 30%;
       margin: 0% 2.5% 5% 2.5%;
   }

  
 

   #box3,#box4{
    float: left;
    height: 30%;
    width: 30%;
    margin: 0% 2.5% 5% 2.5%;
}

#box5{
    float: left;
    height: 30%;
    width: 30%;
    margin: 0% 2.5% 5% 2.5%;
}

  #box1{
    background: url("../images/dis.png");
    background-size: 100%;   
   }

   #box2{
   background: url("../images/intc.jpg");
   background-size: 100%;   
   }

   #box3{
   background: url("../images/jd.jpg");
   background-size: 100%;   
   }

   #box4{
    background: url("../images/wfc.jpg");
    background-size: 100%;   
   }

  #box5{
    background: url("../images/googl.jpg");
    background-size: 100%;   
  }

  #box1,#box2,#box3,#box4,#box5{
    display: flex;
  }

  .inboxStyle{
      background-color: #4aaaa5;
      width: 100%;
      height: 30%;
      align-self: flex-end;
      margin-bottom: 5%;
      display:flex;
  }

  .inboxText{
      text-align:center;
      color: #ffffff;
      align-self:center;
      margin: auto;
      padding-top: 0px;
      font-family: 'Georgia', Times, serif;
  }

  #cont{
      margin: auto;
      color:#cccccc;
      font-size: large;
  }
 
  

  .inputbox{
      width: 100%;
      height: 30px;
      margin: 0px;
  }

  #inputMessage{
      width: 100%;
      height: 300px;
  }

  #button{
      background: #4aaaa5;
      font-size: large;
      color: #ffffff;
      border-color: #4aaaa5;
      height: 30px;
      width: 90px;
      margin-top: 10px;
  }
  #button:hover{
      background: yellowgreen;
      border-color: yellowgreen;
  }
  

  @media screen and (max-width: 980px) {
    #block1center{ 
        width: 90%;
        height: 100%;
        margin: auto;
    }
    #contentMain{
        background: #ffffff;
        padding-top: 10px;
        width: 90%;
        text-align: inherit;
        overflow: auto;
        margin: auto;
    }

    #portfolio{
        font-size: 28px;
        text-align: left;
        margin-top: 28px;

    }
    

    #boxes{
        float: left;
    }
    
    #box1, #box2, #box3, #box4, #box5{
        width: 45%;
        margin-top: 15px;
        margin-left: 0px;
        margin-right: 0px;
        }
    #box1, #box3{
        margin-right: 5%;
    }

    #box2,#box4{
        margin-right: 0px;
    }
    #cont{
        width: 90%;
        padding:0px 0px;
    }
   
   



  }

  @media screen and (max-width: 768px) {
   
    #block1center{ 
        width: 100%;
        height: 100%;
        margin: auto;
    }
    #contentMain{
        background: #ffffff;
        padding-top: 20px;
        width: 100%;
        text-align: inherit;
        overflow: auto;
        margin: 0px;
    }
    #pic1 {
        height: 160px;
        float: left;
        margin-inline-end: 0px;
        padding-top: 20px;
    }
 
    #brif{
        padding: 0px 20px;
        text-align: inherit;
        font-size: 18px;
        line-height: 25px;
         }
     
    h3{
        clear: both;
        padding-top: 0px;
        font-size: x-large;
 
    }
 
    #skills{
        font-size: 18px;
        line-height: 25px;
        padding-inline-start: 20px;
        padding-inline-end: 30px;
    }

    #portfolio{
        font-size: 28px;
        text-align: center;
        margin-top: 20px;

    }
    

    #boxes{
        float: left;
    }
    
    #box1, #box2, #box3, #box4, #box5{
        width: 45%;
        margin-top: 15px;
        margin-left: 0px;
        margin-right: 0px;
        }
    #box1, #box3{
        margin-right: 5%;
    }

    #box2,#box4{
        margin-right: 0px;
    }
    #cont{
        width: 90%;
        padding:0px 0px;
    }
    #inputbox{
        height: 15px;
    }
    
    }

 
    

  @media screen and (max-width: 640px) {
   

    #block1{
        background: #ffffff;
        height: 80px;
        width: 100%;
        border-bottom: #cccccc;
        border-bottom-style: solid;
        margin-right:  0px;
        position: static;
        font-family: Georgia, 'Times New Roman', Times, serif;
        overflow: hidden;
        
    }
    
    #block1center{
     
        width:100%; 
        height: 100%;
        margin: auto;
    }
    #block2{
        padding-top: 0px;
        margin-block-start: 0px; 
    }
    #name{
        background: #4aaaa5;
        color: #ffffff;
        padding-left: 10px;
        padding-right: 10px; 
        margin-left: 0px;
        width: 100%;
        height: 50%;
        font-size: large;
        float: left;
        display: flex; 
    }

    .clearfixsm{
        clear: both;
    }

    .buttons{
        width: 80%;
        align-self: center;
        margin: auto;
    }
    
    #button1{
        margin-right:0px;
    }
    #button1, #button2, #button3{
        float: right;
        color: #cccccc;
        margin-top: 15px;
        margin-left: 0px;
        margin-right: 0px;
        width: 20%;
    }
    
    #block2{
        padding-top: 0px;
        margin-top: 0px;
        margin-block-start: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }
 
    #contentMain{
        background: #ffffff;
        padding: 0px 0px;
        width: 100%;
        text-align: left;
        overflow: auto;
        margin: auto;
    }
    #contentHeader{
        margin: auto;
        text-align: center;
    }
    #h2{
        margin: auto;
    }

    #pic1{
        display: none;
    }

    #brif{
        margin: 0px;
        font-size: 14px;
        padding: 5px 5px 0px 5px;
    }

    h3{
        margin: 0px;
        text-align: left;
        padding: 0px;
    }

    #skills{
        margin: auto;
        padding-top: 5px;
        font-size: 14px;
        text-align: justify;
    }
    
    #portfolio{
        font-size: 22px;
        text-align: center;
        margin-top: 0px;
    }
    

    #boxes{
        clear: both;
    }
    
    #box1, #box2, #box3, #box4, #box5{
        width: 90%;
        margin: 0px 5% 15px 5%;
        }
    
    #cont{
        width: 90%;
        padding:0px 0px;
    }
    #inputbox{
        height: 15px;
    }
    #contSumit{
        margin-bottom: 20px;
        margin-left: 35%;
        width: 30%;

    }

  }